
.forgot-container{
    width: 100vw;
    height: 100vh;
    background: #296BFB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fogot-form{
    width: 400px;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
}
.reset-btn{
    width: 100%;
    background-color: #296BFB !important;
    color: #fff !important;
    border: none !important;
    padding: 5px;
}